<%= render "shared/skills-second-header"%>

<div class="skills-body">

  <div class="skills-search-main">
    <div class="review-search-title">
      検索結果
    </div>
    <div class='skills-search-body'>
      <% if @results.length != 0 %>
        <% @results.each do |skill| %>
          <li class='skills-search-result'>
            <% if skill %>
              <%= link_to skill_path(skill.id) do %>
                <span class="skill-item"><%= skill.drill_name %></span>
              <% end %>
            <% end %>
          </li>
        <% end %>
      <% else %>
        該当する項目がありません
      <% end %>
    </div>
    <div class="search-end">
      <%= link_to "もどる", skills_path %>
    </div>
  </div>
</div>

<%= render "shared/footer" %>