<header class="top-page-header">
<h1 class="page-title"><%= image_tag "logo.jpeg", class:"logo-pic" %></h1>

  <div class="account-status">
      <%if user_signed_in? %>
        <div class="account-1st">
          <%# <%= link_to current_user.name, "#", class: "user-name" %>
          <%= current_user.name %>
        </div>
        <div class="account-2nd">
          <%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "logout" %>
        </div>
      <% else %>
        <div class="account-1st">
          <%= link_to 'ログイン', new_user_session_path, class: "login" %>
        </div>
        <div class="account-2nd">
          <%= link_to '新規登録', new_user_registration_path, class: "sign-up" %>
        </div>
      <% end %>
  </div>
</header>
