<%= render "shared/header" %>
<div class="event-body">
  <div class="event-main">

    <div class="left-side">
        <div class="new-day">
          <%= link_to '活動日登録', new_event_path, class:"index-btn" %>
        </div>
        <div class="match-review">

          <%= link_to '試合レビュー', reviews_path, class:"index-btn" %>
        </div>

        <div class="strategy-dictionary">
          <%= link_to '解説辞典', skills_path, class:"index-btn" %>
        </div>
    </div>

    <div class="main-calendar">
      <div class="calendar-head">
        <%= link_to 'this month', '/', class: "this-month" %>
      </div>
      <div class="calendar-part">
        <%= month_calendar events: @events do |date, events| %>
          <%= date.day %>

          <% events.each do |event| %>
            <%= link_to event_path(event.id) do %>
              <div class="day_title_name">
                <%= event.title.name %>
              </div>
              <div class="day_meeting_time">
                <% if event.meeting_time.id != 1 %>
                  <%= event.meeting_time.name %>〜
                <% end %>
              </div>
            <% end %>
          <% end %>

        <% end %>
      </div>
    </div>

  </div>
</div>

<%= render "shared/footer" %>