<%= render "shared/second-header"%>

<div class="event-day">

  <h2 class="event-day-title">活動日登録</h2>

  <div class="event-day-main">
      <%= form_with model: @event, local: true do |f| %>
        <%= render 'shared/error_messages', model: f.object %> 

          <div class="weight-bold-text">タイトル</div>
          <div class="form">
            <div class="side-form">
            </div>
            <div class="main-form">
            <%= f.collection_select(:title_id, Title.all, :id, :name, {include_blank:"選択して下さい"}, {class:"select-box", id:"event-title"}) %>
            </div>
          </div>

          <div class="weight-bold-text">日時</div>
          <div class="form">
            <div class="side-form">
            </div>
            <div class="main-form">
            <%= f.date_select :start_time %>
            </div>
          </div>

          <div class="weight-bold-text">集合時間</div>
          <div class="form">
            <div class="side-form">
            </div>
            <div class="main-form">
              <%= f.collection_select(:meeting_time_id, MeetingTime.all, :id, :name, {include_blank:"選択して下さい"}, {class:"select-box", id:"event-meeting-time"}) %>
            </div>
          </div>

          <div class="weight-bold-text">詳細情報</div>
          <div class="form">
            <div class="main-form">
              <%= f.text_area :info ,class: 'day-info', placeholder:" 練習内容の説明や活動場所など", rows:'4'%>
            </div>
          </div>
          
          <div class="link-btn-contents">
            <div class="send-link">
              <%= f.submit "登録する" ,class:"create-btn" %>
            </div>
            <div class="back-link">
              <%=link_to 'もどる', root_path, class:"back-btn" %>
            </div>
          </div>

      <% end %>
  </div>
</div>