<div class="event-day">

  <h2 class="event-day-title"><%= @event.start_time %>の詳細</h2>

  <div class="event-day-main">
    <% if @event.meeting_time_id != 2 %>

    <div class="weight-bold-text">タイトル：
      <%= @event.title.name %>
    </div>

    <div class="weight-bold-text">
        集合時間：<%= @event.meeting_time.name %>〜
    </div>

    <%# 空白の場合 %>
      <% if @event.info != "" %>
        <div class="weight-bold-text">詳細情報：
          <%= @event.info %>
        </div>
      <% end %>
    <%# 空白の場合 %>

    <% else %>
    <div class="weight-bold-text">
      OFF！！<br>
      しっかり休みましょう！
    </div>
    <% end %>



<%# <% if user_signed_in? && current_user.id = 1 %>
  <div>
    <%= link_to '編集', edit_event_path, class: "event-edit-btn" %>
    <%= link_to '削除', event_path(@event.id), method: :delete, class: "event-destroy-btn" %>
  </div>
<%# <% end %>
  <div>
    <%=link_to 'もどる', root_path, class:"back-btn" %>
  </div>


  </div>
</div>