<%= render "shared/reviews-second-header"%>

<%= form_with model: @review, url: review_path, class:'form-wrap', local: true do |f| %>

  <%= render 'shared/error_messages', model: f.object %> 

<h1 class="reveiw-title">レビュー編集</h1>


  <div class='page-form'>

    <div class='date-field'>
      <%= raw sprintf(
                  f.date_select(
                    :birth_date,
                    class:'select-birth',
                    id:"birth-date",
                    use_month_numbers: true,
                    prompt:'--',
                    start_year: 2019,
                    end_year: (Time.now.year + 2),
                    date_separator: '%s'),
                  "<p> 年 </p>", "<p> 月 </p>") + "<p> 日 </p>" %>
    </div>

    <div class='page-field'>
      <%= f.label :match_genre_id, "試合ジャンル"%>
      <%= f.collection_select(:match_genre_id, MatchGenre.all, :id, :name, {}, {class:"select-box", id:"event-title"}) %>
    </div>

    <div class='page-field'>
      <%= f.label :opponent_team, "対戦相手"%>
      <%= f.text_field :opponent_team, class:"input-form" %>
    </div>


    <div class='page-field'>
      <%= f.label :comment, "レビュー本文"%>
      <%= f.text_area :comment, class:"input-form", placeholder:" 総括", rows:'4'%>
    </div>

    <div class='page-field'>
      <%= f.label :match_url, "試合動画URL(You tubeなど)"%>
      <%= f.text_area :match_url, class:"input-form", placeholder:" https://www.youtube.com/watch?v=○○○○○○" %>
    </div>

  </div>

  <div class="submit-post">
    <%= f.submit '編集' ,class:"submit-btn" %>
  </div>
  <div>
    <%=link_to 'もどる', reviews_path, class:"back-btn" %>
  </div>

<% end %>