<%= render "shared/reviews-header" %>


<div class="review-body">

<div class="review-main">

  <div class="new-list">
    <div class="new-list-title">
      新着リスト
    </div>

    <% @news.each do |review| %>
      <ul class="skill-item">
        <%= link_to review_path(review.id) ,method: :get do%>
        <%= review.match_genre.name %>  vs<%= review.opponent_team%>
        <% end %>
      </ul>
    <% end %>

    </div>


    <div class="search-skill-form">
      <%= search_form_for @p, url: reviews_searchreview_path do |form| %>

      <div class="form">
        <%= form.label :opponent_team, "対戦相手" %>
        <%= form.search_field :opponent_team_cont %>
      </div>

      <div class="form">
        <%= form.label :match_genre_id, "試合ジャンル"%>
        <%= form.collection_select :match_genre_id_eq, MatchGenre.all, :id, :name, {include_blank: '指定なし'}, {class:"select"} %>
      </div>

        <%= form.submit "検索" %>
      <% end %>
    </div>




</div>
</div>

<%= render "shared/footer" %>